contexto/n8n/trabajoya_courses_exa_sync.json
{
  "name": "TrabajoYA - Cursos Exa Sync",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Actualizar ahora",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        80,
        160
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "triggerAtHour": 5
            }
          ]
        }
      },
      "id": "daily-trigger",
      "name": "Diario 5 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        80,
        340
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "return [\n  {\n    json: {\n      exa_api_key: 'PEGAR_EXA_API_KEY',\n      trabajoya_base_url: 'https://trabajoya.rivasystems.dev',\n      trabajoya_api_key: 'PEGAR_TRABAJOYA_DATASET_O_INTAKE_API_KEY'\n    }\n  }\n];"
      },
      "id": "config-node",
      "name": "Configurar llaves",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        340,
        250
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const config = $input.first()?.json || {};\n\nfunction cleanConfig(value) {\n  const text = String(value || '').trim();\n  if (!text || text.startsWith('PEGAR_')) return '';\n  return text;\n}\n\nconst exaApiKey = cleanConfig(config.exa_api_key);\nconst trabajoyaApiKey = cleanConfig(config.trabajoya_api_key);\nconst trabajoyaBaseUrl = (cleanConfig(config.trabajoya_base_url) || 'https://trabajoya.rivasystems.dev').replace(/\\/$/, '');\n\nif (!exaApiKey) {\n  throw new Error('Edita el nodo \"Configurar llaves\" y pega exa_api_key.');\n}\n\nif (!trabajoyaApiKey) {\n  throw new Error('Edita el nodo \"Configurar llaves\" y pega trabajoya_api_key.');\n}\n\nconst sources = [\n  {\n    source: 'incaf',\n    provider: 'INCAF',\n    query: 'cursos formacion disponible El Salvador INCAF',\n    includeDomains: ['incaf.gob.sv', 'www.incaf.gob.sv'],\n    area: 'Formacion tecnica',\n    modality: 'mixta',\n    isFree: true,\n  },\n  {\n    source: 'platzi_gob_sv',\n    provider: 'Platzi / Gobierno de El Salvador',\n    query: 'Platzi gratis Gobierno de El Salvador cursos formacion jovenes empleo certificate.gob.sv',\n    includeDomains: ['certificate.gob.sv', 'platzi.com'],\n    area: 'Tecnologia y habilidades digitales',\n    modality: 'online',\n    isFree: true,\n  },\n];\n\nreturn sources.map((source, index) => ({\n  json: {\n    source_index: index,\n    exa_api_key: exaApiKey,\n    trabajoya_api_key: trabajoyaApiKey,\n    trabajoya_base_url: trabajoyaBaseUrl,\n    source_config: source,\n    request_body: {\n      query: source.query,\n      includeDomains: source.includeDomains,\n      numResults: 10,\n      contents: {\n        highlights: true,\n        text: {\n          maxCharacters: 1800,\n        },\n      },\n    },\n  },\n}));"
      },
      "id": "prepare-searches-node",
      "name": "Preparar busquedas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        610,
        250
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.exa.ai/search",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $json.exa_api_key }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.request_body) }}",
        "options": {}
      },
      "id": "exa-http-node",
      "name": "Buscar en Exa",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        900,
        250
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const preparedItems = $items('Preparar busquedas');\nconst exaItems = $input.all();\n\nconst skillKeywords = [\n  ['programacion', ['Programacion', 'Logica', 'Tecnologia']],\n  ['software', ['Software', 'Tecnologia']],\n  ['excel', ['Excel', 'Ofimatica']],\n  ['office', ['Ofimatica']],\n  ['ingles', ['Ingles']],\n  ['ventas', ['Ventas', 'Atencion al cliente']],\n  ['cliente', ['Atencion al cliente', 'Comunicacion']],\n  ['marketing', ['Marketing digital']],\n  ['datos', ['Analisis de datos']],\n  ['inteligencia artificial', ['Inteligencia artificial']],\n  ['gastronomia', ['Gastronomia']],\n  ['turismo', ['Turismo']],\n  ['emprendedor', ['Emprendimiento']],\n  ['emprendimiento', ['Emprendimiento']],\n];\n\nfunction cleanText(value) {\n  return String(value || '').replace(/\\s+/g, ' ').trim();\n}\n\nfunction unique(values) {\n  return [...new Set(values.filter(Boolean))];\n}\n\nfunction inferSkills(text) {\n  const lower = cleanText(text).toLowerCase();\n  const skills = [];\n\n  for (const [keyword, mappedSkills] of skillKeywords) {\n    if (lower.includes(keyword)) {\n      skills.push(...mappedSkills);\n    }\n  }\n\n  return unique(skills).slice(0, 12);\n}\n\nfunction inferTargetRoles(skills) {\n  const roles = [];\n\n  if (skills.includes('Atencion al cliente')) roles.push('Asesor de servicio', 'Auxiliar de tienda');\n  if (skills.includes('Ventas')) roles.push('Vendedor', 'Ejecutivo comercial');\n  if (skills.includes('Programacion')) roles.push('Desarrollador junior');\n  if (skills.includes('Ofimatica')) roles.push('Auxiliar administrativo');\n  if (skills.includes('Gastronomia')) roles.push('Auxiliar de cocina');\n  if (skills.includes('Turismo')) roles.push('Atencion turistica');\n\n  return unique(roles).slice(0, 8);\n}\n\nfunction normalizeResult(source, result) {\n  const title = cleanText(result.title || result.url);\n  const highlightText = Array.isArray(result.highlights) ? result.highlights.join(' ') : '';\n  const description = cleanText(highlightText || result.text || title).slice(0, 2500);\n  const skills = inferSkills(title + ' ' + description);\n\n  return {\n    source: source.source,\n    provider: source.provider,\n    title,\n    area: source.area,\n    description,\n    modality: source.modality,\n    country: 'El Salvador',\n    is_free: source.isFree,\n    cost: source.isFree ? 0 : null,\n    currency: 'USD',\n    skills,\n    target_roles: inferTargetRoles(skills),\n    source_url: result.url,\n    status: 'active',\n    raw: {\n      exa_id: result.id,\n      published_date: result.publishedDate,\n      query: source.query,\n      score: result.score,\n      highlights: result.highlights || [],\n    },\n  };\n}\n\nconst outputs = [];\n\nfor (let index = 0; index < exaItems.length; index += 1) {\n  const prepared = preparedItems[index]?.json;\n  const source = prepared?.source_config;\n\n  if (!source) {\n    throw new Error('No se encontro configuracion de fuente para el item ' + index + '.');\n  }\n\n  const exaData = exaItems[index].json || {};\n  const results = Array.isArray(exaData.results) ? exaData.results : [];\n  const courses = results\n    .filter((result) => result?.url && result?.title)\n    .map((result) => normalizeResult(source, result));\n\n  if (courses.length === 0) {\n    continue;\n  }\n\n  outputs.push({\n    json: {\n      source: source.source,\n      result_count: results.length,\n      course_count: courses.length,\n      trabajoya_base_url: prepared.trabajoya_base_url,\n      trabajoya_api_key: prepared.trabajoya_api_key,\n      payload: {\n        source: source.source,\n        sync: {\n          provider: source.provider,\n          query: source.query,\n          include_domains: source.includeDomains,\n          ran_at: new Date().toISOString(),\n        },\n        courses,\n      },\n    },\n  });\n}\n\nreturn outputs;"
      },
      "id": "normalize-courses-node",
      "name": "Normalizar cursos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1190,
        250
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.trabajoya_base_url + '/api/datasets/courses/upsert' }}",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Trabajoya-Key",
              "value": "={{ $json.trabajoya_api_key }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.payload) }}",
        "options": {}
      },
      "id": "upsert-http-node",
      "name": "Guardar en TrabajoYA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1490,
        250
      ]
    }
  ],
  "connections": {
    "Actualizar ahora": {
      "main": [
        [
          {
            "node": "Configurar llaves",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Diario 5 AM": {
      "main": [
        [
          {
            "node": "Configurar llaves",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configurar llaves": {
      "main": [
        [
          {
            "node": "Preparar busquedas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar busquedas": {
      "main": [
        [
          {
            "node": "Buscar en Exa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar en Exa": {
      "main": [
        [
          {
            "node": "Normalizar cursos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar cursos": {
      "main": [
        [
          {
            "node": "Guardar en TrabajoYA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-07-04T00:00:00.000Z",
  "versionId": "trabajoya-courses-exa-sync-v3-http",
  "active": false
}
