contexto/n8n/trabajoya_interview_feedback.json
{
  "id": "7d4e4aa7-6d19-41b7-89c2-fd6c80f38f64",
  "name": "TrabajoYA - Interview Feedback",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "trabajoya/save-interview-feedback",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "interview-feedback-webhook",
      "name": "Recibir feedback",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        120,
        260
      ],
      "webhookId": "trabajoya-save-interview-feedback"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const input = $input.first()?.json || {};\nconst body = input.body && typeof input.body === 'object' ? input.body : input;\nconst headers = input.headers || {};\nconst query = input.query && typeof input.query === 'object' ? input.query : {};\nconst parameters = body.parameters && typeof body.parameters === 'object' ? body.parameters : body;\n\nconst config = {\n  trabajoya_base_url: 'https://trabajoya.rivasystems.dev',\n  trabajoya_interview_api_key: 'PEGAR_TRABAJOYA_INTERVIEW_API_KEY'\n};\n\nfunction clean(value) {\n  return String(value || '').trim();\n}\n\nfunction getHeader(name) {\n  const target = name.toLowerCase();\n  for (const [key, value] of Object.entries(headers)) {\n    if (String(key).toLowerCase() === target) return clean(value);\n  }\n  return '';\n}\n\nconst expectedKey = clean(config.trabajoya_interview_api_key);\nconst providedKey = getHeader('x-trabajoya-key') || clean(headers['X-Trabajoya-Key']) || clean(query.trabajoya_key || query.trabajoyaKey);\n\nif (!expectedKey || expectedKey.startsWith('PEGAR_')) {\n  throw new Error('Edita el nodo \"Validar payload\" y pega TRABAJOYA_INTERVIEW_API_KEY.');\n}\n\nif (!providedKey || providedKey !== expectedKey) {\n  throw new Error('X-Trabajoya-Key invalido para feedback de entrevista.');\n}\n\nconst sessionId = clean(parameters.interview_session_id || parameters.interviewSessionId || parameters.session_id || parameters.sessionId);\n\nif (!sessionId) {\n  throw new Error('Falta interview_session_id.');\n}\n\nconst payload = {\n  interview_session_id: sessionId,\n  elevenlabs_conversation_id: clean(\n    parameters.elevenlabs_conversation_id ||\n      parameters.conversation_id ||\n      parameters.conversationId ||\n      body.conversation_id ||\n      body.conversationId\n  ),\n  status: clean(parameters.status) || 'completed',\n  scores: parameters.scores || {},\n  feedback: parameters.feedback || {\n    overall_score: parameters.overall_score || parameters.score || 0,\n    summary: parameters.summary || '',\n    strengths: parameters.strengths || parameters.fortalezas || [],\n    improvements: parameters.improvements || parameters.mejoras || [],\n    suggested_answers: parameters.suggested_answers || parameters.respuestas_sugeridas || [],\n    next_steps: parameters.next_steps || parameters.proximos_pasos || []\n  }\n};\n\nreturn [\n  {\n    json: {\n      trabajoya_base_url: clean(config.trabajoya_base_url).replace(/\\/$/, ''),\n      trabajoya_interview_api_key: expectedKey,\n      payload\n    }\n  }\n];"
      },
      "id": "validate-payload-node",
      "name": "Validar payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        390,
        260
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.trabajoya_base_url + '/api/interview-feedback' }}",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Trabajoya-Key",
              "value": "={{ $json.trabajoya_interview_api_key }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.payload) }}",
        "options": {}
      },
      "id": "save-feedback-http-node",
      "name": "Guardar feedback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        680,
        260
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-node",
      "name": "Responder",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        950,
        260
      ]
    }
  ],
  "connections": {
    "Recibir feedback": {
      "main": [
        [
          {
            "node": "Validar payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar payload": {
      "main": [
        [
          {
            "node": "Guardar feedback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar feedback": {
      "main": [
        [
          {
            "node": "Responder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-07-05T00:00:00.000Z",
  "versionId": "trabajoya-interview-feedback-v1",
  "active": false
}
