contexto/n8n/trabajoya_jobs_exa_sync.json
{
  "name": "TrabajoYA - Empleos Exa Sync",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Actualizar ahora",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        80,
        160
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "triggerAtHour": 6
            }
          ]
        }
      },
      "id": "daily-trigger",
      "name": "Diario 6 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        80,
        340
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "return [\n  {\n    json: {\n      exa_api_key: 'PEGAR_EXA_API_KEY',\n      trabajoya_base_url: 'https://trabajoya.rivasystems.dev',\n      trabajoya_api_key: 'PEGAR_TRABAJOYA_DATASET_O_INTAKE_API_KEY'\n    }\n  }\n];"
      },
      "id": "config-node",
      "name": "Configurar llaves",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        340,
        250
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const config = $input.first()?.json || {};\n\nfunction cleanConfig(value) {\n  const text = String(value || '').trim();\n  if (!text || text.startsWith('PEGAR_')) return '';\n  return text;\n}\n\nconst exaApiKey = cleanConfig(config.exa_api_key);\nconst trabajoyaApiKey = cleanConfig(config.trabajoya_api_key);\nconst trabajoyaBaseUrl = (cleanConfig(config.trabajoya_base_url) || 'https://trabajoya.rivasystems.dev').replace(/\\/$/, '');\n\nif (!exaApiKey) {\n  throw new Error('Edita el nodo \"Configurar llaves\" y pega exa_api_key.');\n}\n\nif (!trabajoyaApiKey) {\n  throw new Error('Edita el nodo \"Configurar llaves\" y pega trabajoya_api_key.');\n}\n\nconst sources = [\n  {\n    source: 'tecoloco',\n    provider: 'Tecoloco',\n    query: 'site:tecoloco.com.sv empleos El Salvador ventas atencion cliente cajero asesor comercial bodega',\n    includeDomains: ['tecoloco.com.sv', 'www.tecoloco.com.sv'],\n    area: 'Ventas y atencion al cliente',\n    numResults: 15,\n  },\n  {\n    source: 'tecoloco',\n    provider: 'Tecoloco',\n    query: 'site:tecoloco.com.sv empleos El Salvador administracion contabilidad recursos humanos operaciones',\n    includeDomains: ['tecoloco.com.sv', 'www.tecoloco.com.sv'],\n    area: 'Administracion y operaciones',\n    numResults: 15,\n  },\n  {\n    source: 'tecoloco',\n    provider: 'Tecoloco',\n    query: 'site:tecoloco.com.sv empleos El Salvador tecnologia software datos soporte tecnico sistemas',\n    includeDomains: ['tecoloco.com.sv', 'www.tecoloco.com.sv'],\n    area: 'Tecnologia y soporte',\n    numResults: 15,\n  },\n  {\n    source: 'tecoloco',\n    provider: 'Tecoloco',\n    query: 'site:tecoloco.com.sv trabajos en San Salvador Santa Ana San Miguel La Libertad empleo El Salvador',\n    includeDomains: ['tecoloco.com.sv', 'www.tecoloco.com.sv'],\n    area: 'Vacantes por zona',\n    numResults: 15,\n  },\n  {\n    source: 'computrabajo',\n    provider: 'Computrabajo',\n    query: 'site:sv.computrabajo.com empleos El Salvador ventas atencion cliente cajero asesor bodega',\n    includeDomains: ['sv.computrabajo.com'],\n    area: 'Ventas y atencion al cliente',\n    numResults: 15,\n  },\n  {\n    source: 'computrabajo',\n    provider: 'Computrabajo',\n    query: 'site:sv.computrabajo.com empleos El Salvador administracion contabilidad recursos humanos operaciones',\n    includeDomains: ['sv.computrabajo.com'],\n    area: 'Administracion y operaciones',\n    numResults: 15,\n  },\n  {\n    source: 'computrabajo',\n    provider: 'Computrabajo',\n    query: 'site:sv.computrabajo.com empleos El Salvador tecnologia software datos soporte tecnico sistemas',\n    includeDomains: ['sv.computrabajo.com'],\n    area: 'Tecnologia y soporte',\n    numResults: 15,\n  },\n  {\n    source: 'computrabajo',\n    provider: 'Computrabajo',\n    query: 'site:sv.computrabajo.com empleos en San Salvador Santa Ana San Miguel La Libertad El Salvador',\n    includeDomains: ['sv.computrabajo.com'],\n    area: 'Vacantes por zona',\n    numResults: 15,\n  },\n  {\n    source: 'mtps_oportunidades',\n    provider: 'Ministerio de Trabajo - Oportunidades',\n    query: 'site:oportunidades.mtps.gob.sv/job-offers ofertas laborales El Salvador salario vacantes aplicar empleo',\n    includeDomains: ['oportunidades.mtps.gob.sv'],\n    area: 'Ofertas laborales',\n    numResults: 20,\n  },\n];\n\nreturn sources.map((source, index) => ({\n  json: {\n    source_index: index,\n    exa_api_key: exaApiKey,\n    trabajoya_api_key: trabajoyaApiKey,\n    trabajoya_base_url: trabajoyaBaseUrl,\n    source_config: source,\n    request_body: {\n      query: source.query,\n      includeDomains: source.includeDomains,\n      numResults: source.numResults || 10,\n      contents: {\n        highlights: true,\n        text: {\n          maxCharacters: 2600,\n        },\n      },\n    },\n  },\n}));"
      },
      "id": "prepare-searches-node",
      "name": "Preparar busquedas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        610,
        250
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.exa.ai/search",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $json.exa_api_key }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.request_body) }}",
        "options": {}
      },
      "id": "exa-http-node",
      "name": "Buscar en Exa",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        900,
        250
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const preparedItems = $items('Preparar busquedas');\nconst exaItems = $input.all();\n\nconst departments = [\n  'Ahuachapan',\n  'Cabanas',\n  'Chalatenango',\n  'Cuscatlan',\n  'La Libertad',\n  'La Paz',\n  'La Union',\n  'Morazan',\n  'San Miguel',\n  'San Salvador',\n  'San Vicente',\n  'Santa Ana',\n  'Sonsonate',\n  'Usulutan',\n];\n\nconst skillKeywords = [\n  ['ventas', ['Ventas', 'Servicio al cliente']],\n  ['cliente', ['Atencion al cliente', 'Comunicacion']],\n  ['cajero', ['Caja', 'Atencion al cliente']],\n  ['bodega', ['Inventario', 'Bodega']],\n  ['almacen', ['Inventario', 'Bodega']],\n  ['motorista', ['Licencia de conducir', 'Logistica']],\n  ['repartidor', ['Logistica', 'Distribucion']],\n  ['contabilidad', ['Contabilidad']],\n  ['contador', ['Contabilidad']],\n  ['administrativo', ['Administracion']],\n  ['recursos humanos', ['Recursos humanos']],\n  ['excel', ['Excel']],\n  ['software', ['Software', 'Tecnologia']],\n  ['sistemas', ['Sistemas', 'Tecnologia']],\n  ['soporte tecnico', ['Soporte tecnico']],\n  ['datos', ['Analisis de datos']],\n  ['call center', ['Call center', 'Atencion al cliente']],\n  ['ingles', ['Ingles']],\n];\n\nfunction cleanText(value) {\n  return String(value || '').replace(/\\s+/g, ' ').trim();\n}\n\nfunction normalizeAscii(value) {\n  return cleanText(value).normalize('NFD').replace(/[\\u0300-\\u036f]/g, '');\n}\n\nfunction unique(values) {\n  return [...new Set(values.filter(Boolean))];\n}\n\nfunction getResultText(result) {\n  const highlights = Array.isArray(result.highlights) ? result.highlights.join('\\n') : '';\n  return [result.title, highlights, result.text].map(cleanText).filter(Boolean).join('\\n');\n}\n\nfunction cleanTitle(title, provider) {\n  return cleanText(title)\n    .replace(/\\s+\\|\\s+.*$/i, '')\n    .replace(/\\s+-\\s+Computrabajo.*$/i, '')\n    .replace(/\\s+-\\s+Tecoloco.*$/i, '')\n    .replace(new RegExp('\\\\s+-\\\\s+' + provider + '.*$', 'i'), '')\n    .trim();\n}\n\nfunction inferDepartment(text) {\n  const normalizedText = normalizeAscii(text).toLowerCase();\n\n  for (const department of departments) {\n    if (normalizedText.includes(normalizeAscii(department).toLowerCase())) {\n      return department;\n    }\n  }\n\n  return '';\n}\n\nfunction inferSalary(text) {\n  const normalized = cleanText(text);\n  const matches = [...normalized.matchAll(/(?:US\\$|\\$)\\s*([0-9]{3,5}(?:[.,][0-9]{2})?)|([0-9]{3,5}(?:[.,][0-9]{2})?)\\s*(?:US\\$|dolares|dolares)/gi)];\n  const amounts = matches\n    .map((match) => Number(String(match[1] || match[2]).replace(',', '.')))\n    .filter((number) => Number.isFinite(number));\n\n  if (amounts.length === 0) return { min: null, max: null };\n\n  return {\n    min: Math.min(...amounts),\n    max: Math.max(...amounts),\n  };\n}\n\nfunction parseDateFromText(text) {\n  const normalized = cleanText(text);\n  const iso = normalized.match(/\\b\\d{4}-\\d{2}-\\d{2}\\b/);\n\n  if (iso) return iso[0];\n\n  const slash = normalized.match(/\\b(\\d{1,2})\\/(\\d{1,2})\\/(\\d{4})\\b/);\n\n  if (slash) {\n    const day = slash[1].padStart(2, '0');\n    const month = slash[2].padStart(2, '0');\n    return slash[3] + '-' + month + '-' + day;\n  }\n\n  return null;\n}\n\nfunction inferSkills(text) {\n  const lower = normalizeAscii(text).toLowerCase();\n  const skills = [];\n\n  for (const [keyword, mappedSkills] of skillKeywords) {\n    if (lower.includes(normalizeAscii(keyword).toLowerCase())) {\n      skills.push(...mappedSkills);\n    }\n  }\n\n  return unique(skills).slice(0, 14);\n}\n\nfunction inferModality(text) {\n  const lower = normalizeAscii(text).toLowerCase();\n\n  if (lower.includes('remoto') || lower.includes('remote')) return 'remoto';\n  if (lower.includes('hibrido') || lower.includes('hybrid')) return 'hibrido';\n  if (lower.includes('presencial')) return 'presencial';\n\n  return '';\n}\n\nfunction inferEmploymentType(text) {\n  const lower = normalizeAscii(text).toLowerCase();\n\n  if (lower.includes('medio tiempo') || lower.includes('part time')) return 'medio tiempo';\n  if (lower.includes('temporal')) return 'temporal';\n  if (lower.includes('pasantia') || lower.includes('practica')) return 'pasantia';\n  if (lower.includes('tiempo completo') || lower.includes('full time')) return 'tiempo completo';\n\n  return '';\n}\n\nfunction isUsefulTitle(title) {\n  const lower = normalizeAscii(title).toLowerCase();\n  const generic = [\n    'bolsa de trabajo',\n    'portal de empleo',\n    'buscar empleo',\n    'consejos para encontrar empleo',\n    'salarios',\n    'evaluaciones de empresa',\n  ];\n\n  return title.length >= 4 && !generic.some((fragment) => lower.includes(fragment));\n}\n\nfunction normalizeResult(source, result) {\n  const fullText = getResultText(result);\n  const title = cleanTitle(result.title || result.url, source.provider);\n  const salary = inferSalary(fullText);\n  const department = inferDepartment(fullText);\n  const description = cleanText(fullText).slice(0, 4200);\n\n  return {\n    source: source.source,\n    external_id: result.url,\n    provider: source.provider,\n    title,\n    company: '',\n    area: source.area,\n    description,\n    employment_type: inferEmploymentType(fullText),\n    modality: inferModality(fullText),\n    country: 'El Salvador',\n    department,\n    municipality: '',\n    location_text: department || 'El Salvador',\n    salary_min: salary.min,\n    salary_max: salary.max,\n    currency: 'USD',\n    expires_at: parseDateFromText(fullText),\n    skills: inferSkills(fullText),\n    source_url: result.url,\n    apply_url: result.url,\n    status: 'active',\n    raw: {\n      exa_id: result.id,\n      published_date: result.publishedDate,\n      query: source.query,\n      score: result.score,\n      highlights: result.highlights || [],\n    },\n  };\n}\n\nconst outputs = [];\nconst seen = new Set();\n\nfor (let index = 0; index < exaItems.length; index += 1) {\n  const prepared = preparedItems[index]?.json;\n  const source = prepared?.source_config;\n\n  if (!source) {\n    throw new Error('No se encontro configuracion de fuente para el item ' + index + '.');\n  }\n\n  const exaData = exaItems[index].json || {};\n  const results = Array.isArray(exaData.results) ? exaData.results : [];\n  const jobs = [];\n\n  for (const result of results) {\n    if (!result?.url || !result?.title) continue;\n\n    const key = source.source + '|' + result.url;\n    if (seen.has(key)) continue;\n    seen.add(key);\n\n    const job = normalizeResult(source, result);\n    if (!isUsefulTitle(job.title)) continue;\n\n    jobs.push(job);\n  }\n\n  if (jobs.length === 0) {\n    continue;\n  }\n\n  outputs.push({\n    json: {\n      source: source.source,\n      result_count: results.length,\n      job_count: jobs.length,\n      trabajoya_base_url: prepared.trabajoya_base_url,\n      trabajoya_api_key: prepared.trabajoya_api_key,\n      payload: {\n        source: source.source,\n        sync: {\n          provider: source.provider,\n          query: source.query,\n          include_domains: source.includeDomains,\n          ran_at: new Date().toISOString(),\n        },\n        jobs,\n      },\n    },\n  });\n}\n\nreturn outputs;"
      },
      "id": "normalize-jobs-node",
      "name": "Normalizar empleos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1190,
        250
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.trabajoya_base_url + '/api/datasets/jobs/upsert' }}",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Trabajoya-Key",
              "value": "={{ $json.trabajoya_api_key }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.payload) }}",
        "options": {}
      },
      "id": "upsert-http-node",
      "name": "Guardar en TrabajoYA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1490,
        250
      ]
    }
  ],
  "connections": {
    "Actualizar ahora": {
      "main": [
        [
          {
            "node": "Configurar llaves",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Diario 6 AM": {
      "main": [
        [
          {
            "node": "Configurar llaves",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configurar llaves": {
      "main": [
        [
          {
            "node": "Preparar busquedas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar busquedas": {
      "main": [
        [
          {
            "node": "Buscar en Exa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar en Exa": {
      "main": [
        [
          {
            "node": "Normalizar empleos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar empleos": {
      "main": [
        [
          {
            "node": "Guardar en TrabajoYA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-07-04T00:00:00.000Z",
  "versionId": "trabajoya-jobs-exa-sync-v1-http",
  "active": false
}
